.App {
  font-family: sans-serif;
  text-align: center;
}

.outer-structure {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  display: flex;
}

.actions {
  visibility: hidden;
  margin-left: 15px;
  display: flex;
  gap: 10px;
}

.outer-div {
  width: 100%;
  display: flex;
}

.outer-div:hover .actions {
  visibility: visible; /* Show actions on hover */
}
